// colors
$color-background: #2c2c2c;
$color-foreground: #636b46;
$color-highlight: #af473c;
$color-text: #dcd3c7;

//applications of those colors
$color-background-sink: scale-color($color-background, $lightness: -24%);
$color-background-pop: scale-color($color-background, $lightness: +24%);
$color-foreground-sink: scale-color($color-foreground, $lightness: -24%);
$color-foreground-sunk: scale-color($color-foreground, $lightness: -36%);
$color-text-pop: scale-color($color-text, $lightness: +15%);
$color-link: scale-color($color-highlight, $lightness: +15%);
$color-link-active: scale-color($color-text, $lightness: +25%);

// css
body {
    background: $color-background;
    color: $color-text;
    margin: 0;
    line-height: 1.5em;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $color-link;
  }
  &.router-link-exact-active {
    color: $color-link-active;
  }
}

hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: -1em;
  margin-inline-end: -1em;
  border-color: $color-foreground;
}

h1 {
  color: $color-foreground;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 1.25em;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}