// colors
$color-background: #2c2c2c;
$color-foreground: #636b46;
$color-highlight: #9e4036;
$color-text: #dcd3c7;

//applications of those colors
$color-background-sink: scale-color($color-background, $lightness: -24%);
$color-background-pop: scale-color($color-background, $lightness: +24%);
$color-foreground-sink: scale-color($color-foreground, $lightness: -24%);
$color-foreground-sunk: scale-color($color-foreground, $lightness: -36%);
$color-text-pop: scale-color($color-text, $lightness: +15%);
$color-link: scale-color($color-highlight, $lightness: +15%);
$color-link-active: scale-color($color-text, $lightness: +25%);

// css
* {
  box-sizing: border-box;
}

// ------------------ elements
body, html {
  background: $color-background;
  color: $color-text;
  margin: 0;
  line-height: 1.35em;
  height: 100%;
}

#app {
  height: 100%;
}

a {
  color: $color-link;
  text-decoration: none;
  &:link {
    color: $color-link;
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $color-link;
  }
  &.router-link-exact-active {
    color: $color-link-active;
    cursor: default;
  }
}

hr {
  border-color: $color-text;
  color: $color-foreground;
  height: 1px;
  width: 100%;
}

h1 {
  color: $color-text;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 1.25em;

  @media screen and (min-width: 900px) {
    width: max-content;
  }
}

h2 {
  color: $color-text;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 1em;
  font-weight: normal;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

// ------------------ classes
.overlord {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pageBody {
  // text-align: justify;
  margin-top: 1em;
  flex-grow: 1;
  overflow-y: auto;

  @media screen and (max-width: 900px) {
    margin: 1em 0em 0 1em;
  }

  @media screen and (min-width: 900px) {
    margin-left: 12%;
    margin-right: 12%;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16%;
    margin-right: 16%;
  }
}

.title {
  position: relative;
  color: $color-text;

  &:before {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background: $color-foreground;
    left: 10px;
    bottom: -8px;
    position: absolute;
  }

  @media screen and (min-width: 900px) {
    &:after {
      content: "";
      display: block;
      width: 128px;
      width: calc(72vw - 100%);
      height: 1px;
      background: $color-foreground;
      right: calc((71vw - 95%) * -1);
      top: 50%;
      position: absolute;
    }

    &:before {
      width: 0;
      height: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    &:after {
      content: "";
      display: block;
      width: 128px;
      width: calc(66vw - 100%);
      right: calc((66vw - 95%) * -1);
      height: 1px;
      background: $color-foreground;
      top: 50%;
      position: absolute;
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    text-align: left;
  }
}

.subtitle {
  position: relative;
  color: $color-text;

  &--to {
    @extend .subtitle;
  }
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.blurb {
  text-align: justify;
  margin-left: 4%;
  margin-right: 4%;

  @media screen and (max-width: 900px) {
    text-align: left;
    margin-left: 0%;
  }

  &--for {
    @extend .blurb;
    margin-left: 0;

    @media screen and (min-width: 900px) {
      &:before {
        content: "⋋";
        margin-right: 16px;
        font-size: 1.5em;
        color: $color-foreground;
      }
    }
  }
}

.download {
  font-size: 1.5em;
  margin-left: 4%;
}

.changelog {
  margin-top: 24px;
  text-align: left;
  width: 100%;

  &:after {
    content: "";
    display: block;
    width: 97%;
    height: 1px;
    background: $color-text;
    position: relative;
    top: 8px;
  }

  &:before {
    content: "";
    display: block;
    width: 97%;
    height: 1px;
    background: $color-text;
    position: relative;
    top: 8px;
  }
}

.clickable {
  cursor: pointer;
}